*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	padding-top:20px;
}
form{
	display: flex;
	max-width:700px;
	background:#FFE4B5;
	padding:20px;
	margin:0 auto;
	flex-wrap: wrap;
}
form>div,
form>button{
	margin-top:10px;
}
.w-50,.w-100,.w-25{
	padding:0 10px;
}
.w-100{
	width:100%;
}
.w-50{
	width:50%;
}
.w-25{
	width:25%;
}
input:hover,select:hover{
	border-color:#F4A460;
}
input:focus,select:focus {
    outline: none !important;
    border-color:#F4A460;
    box-shadow: 0 0 10px #F4A460;
 }
input,select{
	width: 100%;
	margin-top:5px;
	height: 30px;
    border-radius: 3px;
    border: 1px solid #bdc3c7;
    padding-left: 10px;
}
input[type="checkbox"] {
	width: 12px;
	height: 12px;
}
button{
	margin-left:10px;
	padding:5px 7px;
	border-radius: 3px;
    background: #0091ff;
    border: 1px solid #0091ff;
    color: white;
}
.pages{
	text-align: center;
	margin-top:50px;
}
a{
	text-decoration: none;
	font-size:16px;
}
.active{
	color:red;
	text-decoration: underline;
	font-weight: bold;
}