*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
body{
	font-size: 14px;
    color: #000;
    line-height: 1.7;
}
ul li {
	list-style: none;
}
a{
	text-decoration: none;
}
a:hover{
	cursor: pointer;
}
input:hover{
	cursor: pointer;
}
.container{
	max-width: 1230px;
	width: 100%;
	margin: 0 auto;
	padding: 0px 15px;
}
footer{
	background: #ebebeb;
}
.footer-top{
	padding:15px 0;
	border-bottom:1px solid #ddd;
}
.tittle{
	font-size: 17px;
    color: #2e3553;
    padding: 0 0 5px 15px;
}
.contact-wrap,
.footer-between_wrap{
	display:flex;
}
.contact{
	padding:0 15px;
	width: calc(100%/3);
}
.bdr{
	border-right: 1px solid #323c3f;
}
.contact_title{
	font-size:14px;
	font-weight: bold;
	margin-bottom: 10px;
}
.desc{
    margin-bottom: 5px;
}
.desc a{
	color: #575454;
}
.desc a:hover{
	text-decoration: underline;
}
.footer-between_first,
.footer-between_second,
.footer-between_third{
	padding:0 15px;
	width: calc(100%/3);
}
.footer-between{
	padding: 35px 0 55px 0;
}
.footer-between_first{
	display:flex;
}
.infor{
	width: 50%;
}
.title{
	font-size: 18px;
	padding-bottom: 5px;
}
.infor-list li{
	line-height: 30px;
	transition: 0.6s;
}
.infor-list li:hover{
	margin-left:15px;
}
.infor-list li:hover a{
	color: #575454;
}
.infor-list li a {
	font-size: 12px;
	color:#000;
}
input,textarea{
	width: 100%;
	min-height: 30px;
	height: 30px;
	margin-top:10px;
	border:none;
	background: #ebebeb;
	border-bottom: 1px solid #bdbdbd;
	color: red;
	outline: none;
}
input[type=text]:first-child{
	margin-top:0;
}
button{
	padding:6px 12px;
	background-color: #636060;
    border:  1px solid #636060;
    color: white;
}
.social-network_wrap{
	display: flex;
	margin-bottom: 25px;
}
.social-network>i{
	font-size:18px;
	line-height: 36px;
	height: 36px;
	width: 36px;
	text-align: center;
	color: white;
	border-radius: 50%;
}
.fb{
	background-color: #3A589D;
}
.pin{
	background: #E60023;
}
.insta{
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}
.youtube{
	background: #DB473E;
}
.spotify{
	background-color:#4cd137;
}
.footer-bottom>div{
	justify-content: center;
}
.social-network{
	transition: all .3s ease;
	margin-left:7px;
}
.social-network:first-child{
	margin-left:0px;
}
.social-network:hover{
	transform: scale(1.3);
}
.phone{
	margin-bottom: 5px;
}
.phone a{
	margin-left:10px;
	color: #575454;
}
.phone a:hover{
	text-decoration: underline;
}
.connect img{
	width: 40%;
	margin-top:5px;
}
.footer-bottom .container{
	border-top:1px solid #ddd;
	padding-top:25px;
	padding-bottom:25px;
}
.footer-bottom_list{
	display:flex;
	justify-content: center;
}
.footer-bottom_list li {
	line-height: 1;
	padding:0 7px;
	border-right:1px solid #666;;
}
.footer-bottom_list li:last-child{
	border:none;
}
.footer-bottom_list li a{
	font-size: 12px;
    font-weight: 400;
    color:#000;
}
.footer-bottom_list li a:hover{
	text-decoration: underline;
}
.license{
	text-align: center;
	padding:25px 0;
	color: #a8a8a8;
	font-size:13px;
}
.license a{
	color: #000;
	font-size:13px;
}